<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=BlockList"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}></span>
</div>


<{include file="./components/block-overview.html"}>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}></h2>


<div class="tips">
    <ul>
        <li><{$smarty.const._AD_LEGACY_TIPS_INSTALL_BLOCK}></li>
        <li><{$smarty.const._AD_LEGACY_TIPS_BLOCK2}></li>
    </ul>
</div>


<div layout="row center-justify" class="control-action">

    <a class="ui-btn ui-btn-small" href="index.php?action=CustomBlockEdit"><{$smarty.const._AD_LEGACY_LANG_ADD_CUSTOM_BLOCK}></a>

    <div class="control-view">

        <{* <button id="list" class="ui-btn" data-id="1" type="button" title="View List">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/></svg>
        </button>

        <button id="grid" class="ui-btn" data-id="2" type="button" title="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z" fill="currentColor"/></svg>
        </button>

        <button id="filter" class="ui-btn" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"  title="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/></svg>
        </button> *}>

        <button class="help-admin ui-btn" type='button' data-module='legacy' data-help-article='#help-blocks' title="<{$smarty.const._HELP}>">
            <span class="ui-icon ui-icon-help"></span>
        </button>
    </div>

</div>





<{include file="./components/block-search-install.html"}>


<table class="outer">

    <thead>
    <tr>
        <th><{$smarty.const._AD_LEGACY_LANG_BID}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_BID}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_BID}>">
                <img src="<{"icons/down.png"|theme}>"
                alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
        <th><{$smarty.const._AD_LEGACY_LANG_BLOCK_MOD}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_MID}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_MID}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
        <th><{$smarty.const._AD_LEGACY_LANG_TITLE}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_TITLE}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_TITLE}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
        <th><{$smarty.const._AD_LEGACY_LANG_TEMPLATE}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_TEMPLATE}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_TEMPLATE}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
        <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    </tr>
    </thead>

    <tbody>
    <{foreach item=obj from=$objects}>
    <tr>
        <td class="legacy_list_id"><{$obj->getShow('bid')}></td>
        <td class="legacy_list_name">
            <{if $obj->mModule}>
            <span class="legacy_blocktype_module"><{$obj->mModule->getShow('name')}></span>
            <{else}>
            <span class="ui-blocktype-custom">
          <{if $obj->get('c_type') == "H"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_HTML}>
          <{elseif $obj->get('c_type') == "P"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_PHP}>
          <{elseif $obj->get('c_type') == "S"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_WITH_SMILIES}>
          <{elseif $obj->get('c_type') == "T"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_WITHOUT_SMILIES}>
          <{/if}>
          </span>
            <{/if}>
        </td>
        <td class="legacy_list_title"><{$obj->getShow('title')}></td>
        <td class="legacy_list_text">
            <{if $obj->getShow('template')}>
            <a href="<{$xoops_url}>/modules/legacyRender/admin/index.php?action=TplfileList&amp;tpl_file=<{$obj->getShow('template')}>"><{$obj->getShow('template')|xoops_escape}></a>
            <{/if}>
        </td>
        <td class="legacy_list_control">
            <{if $obj->get('block_type') == 'C'}>
            <a href="./index.php?action=CustomBlockEdit&amp;bid=<{$obj->getShow('bid')}>"
               title="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
                <img class="svg edit" src="<{"icons/icon-edit.svg"|theme}>" width="1em" height="1em" alt="edit">
            </a>
            <a href="./index.php?action=CustomBlockDelete&amp;bid=<{$obj->getShow('bid')}>"
               title="<{$smarty.const._DELETE}>" class="red">
                <img class="svg delete" src="<{"icons/icon-delete.svg"|theme}>" width="1em" height="1em" alt="delete">
            </a>
            <{else}>
            <a href="./index.php?action=BlockInstallEdit&amp;bid=<{$obj->getShow('bid')}>"
               title="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
                <img class="svg block-install" src="<{"icons/icon-block-install.svg"|theme}>" width="1em" height="1em" alt="install">
            </a>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>

</table>

<{include file="./components/pagenavi.html"}>
