<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></span>
</div>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></h2>

<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="ui-card-full">

        <{foreach item="obj" from=$objects}>
            <{* Assign Theme Icons to Categories *}>
            <{if $obj->getVar('confcat_id') == "1"}>
                <{assign var="icon_src" value="icons/icon-settings.svg"|theme"}>
                <{assign var="icon_alt" value=""}>
            <{elseif $obj->getVar('confcat_id') == "4"}>
                <{assign var="icon_src" value="icons/icon-comment-delete.svg"|theme"}>
                <{assign var="icon_alt" value=""}>
            <{elseif $obj->getVar('confcat_id') == "5"}>
                <{assign var="icon_src" value="icons/icon-search-selection.svg"|theme"}>
                <{assign var="icon_alt" value=""}>
            <{elseif $obj->getVar('confcat_id') == "6"}>
                <{assign var="icon_src" value="icons/icon-user-mail.svg"|theme"}>
                <{assign var="icon_alt" value=""}>
            <{/if}>
            <h4>
                <a class="set-link"
                   href="./index.php?action=PreferenceEdit&amp;confcat_id=<{$obj->getVar('confcat_id')}>"
                   title="<{$smarty.const._AD_LEGACY_LANG_CONFCAT_ID}> - <{$obj->getVar('confcat_id')}>">
                    <span><img class="svg" src="<{$icon_src}>" width="1em" height="1em" alt="<{$icon_alt}>"></span>
                    <span><{$obj->getName()|xoops_escape}></span>
                </a>
            </h4>
        <{/foreach}>

</div>
