<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=SmilesList"><{$smarty.const._MI_LEGACY_MENU_SMILES_MANAGE}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_SMILES_MANAGE}></h2>


<div class="tips">
    <ul>
        <li><{$smarty.const._AD_LEGACY_TIPS_SMILES}></li>
        <li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=Help&amp;dirname=legacy"><{$smarty.const._HELP}></a>
        </li>
    </ul>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<div layout="row center-justify" class="control-action">

    <div>
        <a class="ui-btn ui-btn-small selected" href="index.php?action=SmilesEdit"><{$smarty.const._AD_LEGACY_LANG_CREATE_NEW}></a>
        <a class="ui-btn ui-btn-small selected" href="index.php?action=SmilesUpload"><{$smarty.const._AD_LEGACY_LANG_SMILES_UPLOAD}></a>
    </div>

    <div class="control-view">
        <{* <button id="list" class="ui-btn" data-id="1" type="button" title="View List">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/>
            </svg>
        </button>

        <button id="grid" class="ui-btn" data-id="2" type="button" title="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z"
                      fill="currentColor"/>
            </svg>
        </button>

        <button id="filter" class="ui-btn" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"
                title="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/>
            </svg>
        </button> *}>

        <button class="help-admin ui-btn" type='button' data-id='4' data-module='legacy' data-help-article='#help-todo'
                title="Help">
            <span class="ui-icon ui-icon-help"></span>
        </button>
    </div>

</div>


<{include file="./components/smilies-search.html"}>


<form name="smilesform" method="post" action="./index.php?action=SmilesList">
    <{xoops_token form=$actionForm}>

<table class="outer">
   <thead>
    <tr>
        <th><{$smarty.const._AD_LEGACY_LANG_ID}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_ID}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_ID}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._MD_LEGACY_LANG_CODE}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_CODE}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_CODE}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_LEGACY_LANG_SMILE_URL}></th>
        <th><{$smarty.const._MD_LEGACY_LANG_EMOTION}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_EMOTION}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_EMOTION}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_LEGACY_LANG_DISPLAY}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_DISPLAY}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_DISPLAY}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._DELETE}><br>
            <input name="allbox" id="allbox"
                   onclick="with(document.smilesform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}"
                   type="checkbox" value="Check All">
        </th>
        <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
        <{if $obj->get('display') == 1}>
        <tr class="<{cycle values='odd,even'}> active">
            <{else}>
        <tr class="<{cycle values='odd,even'}> inactive">
        <{/if}>
            <td class="legacy_list_id"><{$obj->getShow('id')}></td>
            <td class="legacy_list_name">
                <input type="text" size="6" name="code[<{$obj->getShow('id')}>]" value="<{$obj->getShow('code')}>">
            </td>
            <td class="ui-card-block-image">
                <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$obj->getShow('smile_url')}>" alt="<{$obj->getShow('emotion')}>" title="<{$obj->getShow('emotion')}>">
            </td>
            <td class="legacy_list_text">
                <input type="text" size="20" name="emotion[<{$obj->getShow('id')}>]" value="<{$obj->getShow('emotion')}>">
            </td>
            <td class="legacy_list_select">
                <input type="checkbox" name="display[<{$obj->getShow('id')}>]" value="1" <{if $obj->getShow('display')}>checked="checked"<{/if}>>
            </td>
            <td class="legacy_list_select">
                <input type="checkbox" name="delete[<{$obj->getShow('id')}>]" value="1">
            </td>
            <td class="legacy_list_control">
                <a href="./index.php?action=SmilesEdit&amp;id=<{$obj->getShow('id')}>" title="<{$smarty.const._EDIT}>">
                    <img class="svg" src="<{"icons/icon-edit.svg"|theme}>">
                </a>
                <a href="./index.php?action=SmilesDelete&amp;id=<{$obj->getShow('id')}>" title="<{$smarty.const._DELETE}>">
                    <img class="svg" src="<{"icons/icon-delete.svg"|theme}>">
                </a>
            </td>
        </tr>
   <{/foreach}>
   </tbody>
   <tfoot>
    <tr>
        <td colspan="7" class="foot">
            <input type="submit" value="<{$smarty.const._SUBMIT}>">
        </td>
    </tr>
    </tfoot>
</table>

</form>

<{include file="./components/pagenavi.html"}>
