/*
    XOOPSCube Theme : XCL Admin Flex Grid
    Distribution : XCL 2.3 Alpha
    Version : 0.7.0
    Author : Nuno Luciano aka Gigamaster
    Date : 2020-06-11
    URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- -------------------- ROOT SETTINGS */

    /* Theme customization

    - ROOT Motion

    - Color Theme Dark
    - Color Scheme Dark
    - Color Link Dark

    - Color Theme Light
    - Color Scheme Light
    - Color Link Light

    - ROOT DEFAULT
    - Grid template
    - BORDER style [default]
    - BUTTON style [default]
    - BREADCRUMBS
    - CARD-BLOCK
    - CARD-FULL
    - CARD-SMALL
    - FORM input
    - NAV SIDE
    - NAV SIDE Block Module
    - NOTIFICATION
    - SCREEN-MODE
    - SHADOW
    - SORT
    - SPACE
    - TABLE
    - TEXT
    - @UTILS
*/
/* -------------------- -------------------- -------------------- ROOT Motion */

    /* This removes all animations and transitions
        *	for users who prefer reduced motion !
    */
    /* 	@media (prefers-reduced-motion: reduce) {
        body {
            scroll-behavior     : auto;
        }
        * {
                animation-duration          : 0.01ms !important;
                animation-iteration-count   : 1 !important;
                transition-duration         : 0.01ms !important;
                scroll-behavior             : auto !important;
            }
    } */

@media (prefers-color-scheme: dark) {

:root[data-theme="dark"] {

    --trackBG: hsl(228, 10%, 10%);
    --thumbBG: hsl(229, 20%, 21%);

    --color-mode        : 'dark';

    --ui-color1      : hsl(219, 15%, 80%);
    --ui-color2      : hsl(219, 15%, 70%);
    --ui-color3      : hsl(219, 15%, 30%);
    --ui-color4      : hsl(219, 15%, 25%);
    --ui-color5      : hsl(219, 15%, 20%);
    --ui-color6      : hsl(219, 15%, 16%);
    --ui-color7      : hsl(219, 15%, 13%);
    --ui-color8      : hsl(219, 15%, 10%);
    --ui-color9      : hsl(219, 15%, 7%);

/* -------------------- -------------------- -------------------- Color Scheme Dark */

    --ui-color-amber    : hsl(45, 75%, 50%);
    --ui-color-black    : hsl(0, 0%, 10%);
    --ui-color-blue     : hsl(210, 75%, 50%);
    --ui-color-green    : hsl(125, 75%, 35%);
    --ui-color-indigo   : hsl(275, 75%, 35%);
    --ui-color-orange   : hsl(35, 75%, 50%);
    --ui-color-purple   : hsl(300, 75%, 25%); /* #673ab7 */
    --ui-color-red      : hsl(5, 75%, 45%);
    --ui-color-white    : hsl(0, 0%, 90%);

/* -------------------- -------------------- -------------------- Color Link Dark */

    --ui-body-bg        : var(  --ui-color6  ); /* #232831; */
    --ui-body-color     : var(  --ui-color2  );
    --ui-link           : var(  --ui-color1  );
    --ui-link-active    : #face74;
    --ui-link-hover     : #face74;
    --ui-link-visited   : var(  --ui-color1   );

    }
 }


/* -------------------- -------------------- -------------------- Light Mode */

:root[data-theme="light"] {

    --trackBG: hsl(228, 10%, 10%);
    --thumbBG: hsl(229, 20%, 21%);
    --thumbLinear : linear-gradient(left, #272727, rgba(255, 147, 5, 0.5));

    --color-mode        : 'light';

    /* -------------------- -------------------- Light Mode Color-Scheme */

    --ui-color9      : hsl(219, 15%, 90%);
    --ui-color8      : hsl(219, 15%, 85%);
    --ui-color7      : hsl(219, 15%, 80%);
    --ui-color6      : hsl(219, 15%, 70%);
    --ui-color5      : hsl(219, 15%, 60%);
    --ui-color4      : hsl(219, 15%, 50%);
    --ui-color3      : hsl(219, 15%, 30%);
    --ui-color2      : hsl(219, 15%, 15%);
    --ui-color1      : hsl(219, 15%, 7%);

    /* -------------------- -------------------- Light Mode Colors */

    --ui-color-amber    : hsl(45, 70%, 50%);
    --ui-color-black    : hsl(0, 0%, 6%);
    --ui-color-blue     : hsl(208, 70%, 35%);
    --ui-color-green    : hsl(126, 70%, 35%);
    --ui-color-indigo   : hsl(275, 70%, 35%);
    --ui-color-orange   : hsl(36, 70%, 50%);
    --ui-color-purple   : hsl(300, 70%, 25%); /* #673ab7 */
    --ui-color-red      : hsl(5, 70%, 50%);
    --ui-color-white    : hsl(0, 0%, 90%);

    /* -------------------- -------------------- Light Mode Link */

    --ui-link           : var( --ui-color2 );
    --ui-link-active    : var( --ui-color-blue );
    --ui-link-hover     : var( --ui-color-blue );
    --ui-link-visited   : var( --ui-color2 );

    /* -------------------- -------------------- Light Mode Misc */

    --ui-body-bg        : var( --ui-color6 ); /* hsl(210, 18%, 80%); */
    --ui-body-color     : var( --ui-color2 );

    --ui-breadcrumbs-bg     : var( --ui-color5 );
    --ui-breadcrumbs-bg-link: var( --ui-color7 );

    --ui-button-bg          : var( --ui-color7 );
    --ui-button-color       : var( --ui-color2 );
    --ui-button-hover-txt   : var( --ui-color7 );

    --ui-card-block-bg      : var( --ui-color7 );
    --ui-card-block-image   : none;
    --ui-card-block-hover   : var( --ui-color9 );
    --ui-card-full-bg       : var( --ui-color7 );
    --ui-card-small-bg      : var( --ui-color7 );

    --input-bg   : var( --ui-color5 );

    --ui-footer-bg          : var( --ui-color2 );
    --ui-footer-border      : solid var( --ui-color1);
    --ui-footer-border-width: 1px 0 0 0 ;
    --ui-footer-color       : var( --ui-color1 );
    --ui-footer-link        : var( --ui-color7 );

    --ui-header-bg          : var( --ui-color2 );

    --ui-notification-bg    : var( --ui-color3 );
    --ui-notification-color : var( --ui-color7 );
}


 /* -------------------- -------------------- -------------------- ROOT DEFAULT */


/*  Webkit Scrollbar */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: var( --thumbBG );
}
::-webkit-scrollbar-thumb:hover {
    background: #686c7e;
}
::-webkit-scrollbar-track {
    background-color: var( --trackBG );
}

/* Firefox Scrollbar */
:root {
    scrollbar-color: var(--thumbBG) var( --trackBG ); /* thumb-color track-color */
    scrollbar-width: thin;
}


:root {

    /* Development Mode Display Smarty Template Name : block / none */
    --ui-dev-mode           : none;

    /* Fallback for Custom Properties */
    /* --vh                 : 1vh; */

    --ui-font-family        : 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    --font-monospace     : SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-serif         : serif;
    --font-size          : 16px;
    --font-weight        : normal; /* 300; */


/* -------------------- -------------------- -------------------- LAYOUT Grid template */

    --ui-aside-bg           : none;

    --ui-footer-bg          : var( --ui-color9 );
    --ui-footer-border      : solid var( --ui-color8 );
    --ui-footer-border-width: 1px 0 0 0 ;
    --ui-footer-color       : var( --ui-color2 );
    --ui-footer-link        : var( --ui-link );

    --ui-grid-background    : none;

    --ui-header-bg          : var( --ui-color8 );
    --ui-header-shadow      : var( --ui-shadow-3 );
    --ui-header-position    : fixed;

    --ui-main-background    : none;


/* -------------------- -------------------- -------------------- BORDER style [default] */

    --ui-border             : var(--ui-border-width) var(--ui-border-style) var(--ui-border-color);
    --ui-border-none        : 0;
    --ui-border-color       : var( --ui-color3 );
    --ui-border-radius      : 5px;
    --ui-border-style       : solid;
    --ui-border-width       : 1px;

/* -------------------- -------------------- -------------------- BREADCRUMBS */

    --ui-breadcrumbs-bg   	        : var( --ui-color7 );

    --ui-breadcrumbs-border-color 	: var( --ui-color5 );
    --ui-breadcrumbs-border-radius	: var( --ui-border-radius );
    --ui-breadcrumbs-border-style 	: var( --ui-border-style );
    --ui-breadcrumbs-border-width 	: var( --ui-border-width );

    --ui-breadcrumbs-box-shadow     : var( --ui-shadow-1 );

    --ui-breadcrumbs-padding        : var( --space-3 ) var( --space-5 );
    --ui-breadcrumbs-margin         : var( --space-3 ) 0 var( --space-3 ); /* Top & Bottom, '0' for Left & Right*/

    --ui-breadcrumbs-bg-link        : var( --ui-color4 );


/* -------------------- -------------------- -------------------- BUTTON style [default]  */

    --ui-button-active      : 0;
    --ui-button-bg          : var( --ui-color4 );

    /* --ui-button-box-shadow  : 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */

    --ui-button-box-shadow  : var( --ui-shadow-1 );

    --ui-button-border      : 1px solid var( --ui-color6 );
    --ui-button-radius      : var( --ui-border-radius );

    --ui-button-color       : var( --ui-color-white );

    --ui-button-font-size   : var( --size-3 );

    --ui-button-hover-bg    : var( --ui-color3 );
    --ui-button-hover-txt   : var( --ui-color1 );

    --ui-button-margin      : var( --space-4 ) var( --space-2 ); /* 0.75rem 1rem; */
    --ui-button-padding     : var( --space-5 ) var( --space-5 ); /* 0.75rem 1rem; */


/* -------------------- -------------------- -------------------- CARD-BLOCK */

    --ui-card-block-bg    	        : var( --ui-color6 );
     /* --ui-card-block-bg    	: none; linear-gradient(200deg, hsla(219, 15%, 15%, 0.50), hsla(219, 15%, 10%, 0.80)); */
    --ui-card-block-border-color  	: var( --ui-color8 );
    --ui-card-block-border-radius 	: var( --ui-border-radius );
    --ui-card-block-border-style  	: var( --ui-border-style );
    --ui-card-block-border-width  	: var( --ui-border-width );

    --ui-card-block-box-shadow      : var( --ui-shadow-2 );

    --ui-card-block-hover           : var( --ui-color5      );

    --ui-card-block-padding         : var( --space-6      );
    --ui-card-block-margin          : var( --space-6      );


    /* CARD BLOCK HEADER  */
    --ui-card-block-header-bg       : transparent ;

    --ui-card-block-header-border   : var( --ui-color4 );
    --ui-card-block-header-height   : 3em;
    --ui-card-block-header-padding  : var( --space-6 );

    /* CARD BLOCK CONTENT */
    --ui-card-block-content-bg      : transparent ;

    --ui-card-block-content-border	: var( --ui-color4 );
    --ui-card-block-content-padding	: 0;

    /* CARD BLOCK ITEM    */
    --ui-card-block-item-padding    : 0.5em 1em;
    --ui-card-block-item-width      : 100%;


/* -------------------- -------------------- -------------------- CARD-FULL */

    --ui-card-full-bg               : var( --ui-color5 );

    --ui-card-full-border-color     : var( --ui-color1 );
    --ui-card-full-border-radius    : var( --ui-border-radius );
    --ui-card-full-border-style     : var( --ui-border-style );
    --ui-card-full-border-width     : var( --ui-border-width );

    --ui-card-full-box-shadow    	: var( --ui-shadow-1 );

    --ui-card-full-padding          : var( --space-6 );
    --ui-card-full-margin           : var( --space-6 ) auto;


/* -------------------- -------------------- -------------------- CARD-SMALL */

    --ui-card-small-bg              : var(--ui-color5);

    --ui-card-small-border-color    : var(--ui-color5);
    --ui-card-small-border-radius   : var(--ui-border-radius);
    --ui-card-small-border-style    : var(--ui-border-style);
    --ui-card-small-border-width    : var(--ui-border-width);

    --ui-card-small-box-shadow      : var(--ui-shadow-1);

    --ui-card-small-box-hover       : var(--ui-shadow-3);

    --ui-card-small-padding         : var(--space-7) var(--space-6);
    --ui-card-small-margin          : var(--space-6);


/* -------------------- -------------------- -------------------- Color Block Type SVG Color !Todo : Refactor and rename */

    --ui-color-block-html       : var( --ui-color7 );
    --ui-color-block-module     : var( --ui-color7 );
    --ui-color-block-php        : var( --ui-color7 );
    --ui-color-block-smilies    : var( --ui-color7 );

    /* -------------------- -------------------- -------------------- DROPDOWN */

    --d-toggle-bg               : none; /*var(--color2); */
    --d-toggle-border           : none; /*var(--border);*/
    --d-toggle-color            : var(--ui-link);
    --d-toggle-font             : bold 16px/1.5 sans-serif;
    --d-toggle-radius           : var(--ui-border-radius);
    --d-toggle-shadow           : 0 0 3px 1px rgba(44, 98, 246, .5);
    --d-toggle-space            : var(--space-2 ) var(--space-2);

    --d-toggle-transition       : all var(--transition-time) var(--transition-cube);

    --d-toggle-bg-on            : var(--ui-color3); /* link [div][a] */

    --dropdown-bg               : var(--ui-color6);
    --dropdown-bg-on            : var(--ui-color5);
    --dropdown-border           : var(--ui-border);
    --dropdown-font             : 100 14px/2 sans-serif;
    --dropdown-radius           : var( --ui-border-radius );
    --dropdown-shadow           : 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
    --dropdown-space            : var(--space-2);
    --dropdown-transition       : all var(--transition-time) var(--transition-cube);
    --dropdown-width            : 180px;


    /* -------------------- -------------------- -------------------- FILTER [ DATA ] */

    --ui-filter-background    	: var( --ui-color7 );

    --ui-filter-border-color  	: var( --ui-color1 );
    --ui-filter-border-radius 	: var( --ui-border-radius );
    --ui-filter-border-style  	: var( --ui-border-style );
    --ui-filter-border-width  	: var( --ui-border-width );

    --ui-filter-box-shadow    	: var( --ui-shadow-1 );

    --ui-filter-padding       	: var( --space-6 );
    --ui-filter-margin        	: var( --space-6 ) auto;


/* -------------------- -------------------- -------------------- FORM input */

    --input-bg               : var( --ui-color7 );

    --input-border-color     : var( --ui-color5 );
    --input-border-radius    : var( --ui-border-radius );
    --input-border-style     : var( --ui-border-style );
    --input-border-width     : var( --ui-border-width );

    --input-border-hover     : 1px solid var( --ui-link-active );
    --input-border-focus     : 1px solid var( --ui-color4 );

    --input-color            : var( --ui-color2 );

    /* --input-shadow        : var(  --ui-shadow-inset 	); */

    --input-shadow           : 0 1px 2px 0 rgba(47, 27, 5, 0.15), 0 3px 1px -2px rgba(47, 27, 5, 0.2), 0 1px 5px 0 rgba(47, 27, 5, 0.12);

    /* input checkbox */
    --input-check-active        : var( --ui-color5 );
    --input-check-active-inner  : rgba(255, 255, 255, 0.9);
    --input-check-animation     : var( --ui-color-amber );

    --input-check-bg            : var( --ui-color6 );

    --input-check-border        : 1px solid var( --ui-border-color );
    --input-check-border-hover  : 1px solid var( --ui-color1 );

    --input-check-disabled      : var( --ui-color4 );
    --input-check-disabled-inner: #434e5e;

    --input-check-shadow-inner  : rgba(21, 25, 27, 0.25);

    --input-padding             : var( --space-4 );
    --input-margin              : var( --space-no );

    /*	-------------------- -------------------- -------------------- JQUERY-UI */

    /* -------------------- -------------------- BUTTON */

    --button-bg                 : var(--ui-color4);
    --button-color              : var(--ui-color9);
    --button-border             : var(--ui-button-border);
    --button-font               : 100 14px/1.5 sans-serif;
    --button-margin             : var(--ui-button-margin);
    --button-shadow             : 0 0 3px 1px rgba(44, 98, 246, 0);
    --button-space              : var(--ui-button-padding);
    --button-radius             : 5px;

    --button-transition         : all .5s var(--transition-cube);

    --button-bg-on              : var(--ui-button-hover-bg);
    --button-border-on          : var(--ui-button-border );
    --button-color-on           : var( --link );
    --button-shadow-on          : 0 0 4px 2px rgba(44, 93, 247, .85);

    --button-bg-active          : var(--ui-button-hover-bg);
    --button-border-active      : 1px solid var(--link);
    --button-color-active       : var( --link );
    --button-shadow-active      : 0 0 4px 2px rgba(44, 93, 247, .85);

    --ui-icon-background        : var(--link-hover); /* background-color, border */
    --ui-icon-background-border : var(--link-hover);
    --ui-icon-width             : 16px;
    --ui-icon-height            : 16px;

/*	-------------------- -------------------- -------------------- NAV SIDE */

    --ui-nav-side-background    : var( --ui-color8 );

    --ui-nav-side-box-shadow    : var( --ui-shadow-3 );

    --ui-nav-side-color         : var( --ui-color1 );
    --ui-nav-side-padding       : var( --space-6 ) 0 0;
    --ui-nav-side-margin        : 0;

    --ui-nav-side-width         : 227px;


/*	-------------------- -------------------- -------------------- NAV SIDE Block Module */

    --ui-nav-block-background   : var( --ui-color7 );

    --ui-nav-block-border-color : var( --ui-link-hover );
    --ui-nav-block-border-style : solid;
    --ui-nav-block-border-width : 3px;

    --ui-nav-block-color-link   : var( --ui-link );

    --ui-nav-set-height         : 8px;
    --ui-nav-set-width          : 8px;



/*	-------------------- -------------------- -------------------- NOTIFICATION */

    --ui-notification-bg        : var( --ui-color6 );

    --ui-notif-border-color     : var( --ui-color4 );
    --ui-notif-border-radius    : var( --ui-border-radius );
    --ui-notif-border-style     : var( --ui-border-style );
    --ui-notif-border-width     : var( --ui-border-width );

    --ui-notif-box-shadow       : var(	--ui-shadow-1 );

    --ui-notification-color     : var( --ui-color2 );

    --ui-notif-margin           : var(--space-6) auto;
    --ui-notif-padding          : var(--space-6) var(--space-8);
    --ui-notif-max-width        : 98%;


/*	-------------------- -------------------- -------------------- SCREEN-MODE */

/*    --ui-screen-mode-background : #ff21104d ;

    --ui-screen-mode-border-color   : var(  --ui-color4      );
    --ui-screen-mode-border-radius  : var(  --ui-border-radius  );
    --ui-screen-mode-border-style   : var(  --ui-border-style   );
    --ui-screen-mode-border-width   : var(  --ui-border-width   );

    --ui-screen-mode-box-shadow     : var(  --ui-shadow-1     );

    --ui-screen-mode-padding        : var(  --space-6;     );
    --ui-screen-mode-margin         : var(  --space-6;     );

    --ui-screen-mode-info-color     : #fc3232;
    --ui-screen-mode-info-child     : #face74;*/


/*	-------------------- -------------------- -------------------- SHADOW */

    --ui-shadow-1     : 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --ui-shadow-2     : 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.28);
    --ui-shadow-3     : 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.28);
    --ui-shadow-4     : 0 4px 8px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.28);
    --ui-shadow-5     : 0 5px 10px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.25);
    --ui-shadow-6     : 0 6px 12px rgba(0,0,0,0.30), 0 6px 12px rgba(0,0,0,0.25);
    --ui-shadow-7     : 0 7px 14px rgba(0,0,0,0.30), 0 7px 14px rgba(0,0,0,0.25);
    --ui-shadow-8     : 0 10px 18px rgba(0,0,0,0.30), 0 10px 18px rgba(0,0,0,0.25);

    --ui-shadow-inset   : 0 5px 10px rgba(0, 0, 0, 0.05), 0 0 0 1px #ddd inset;
    --ui-shadow-hover   : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    --ui-shadow-transition	: all 0.3s cubic-bezier(.25,.8,.25,1);


/*	-------------------- -------------------- -------------------- SORT */

    --ui-sort-background    : var( --ui-color7 );

    --ui-sort-border-color  : var( --ui-border-color );
    --ui-sort-border-radius : var( --ui-border-radius );
    --ui-sort-border-style  : var( --ui-border-style );
    --ui-sort-border-width  : var( --ui-border-width );

    --ui-sort-box-shadow    : var( --ui-shadow-2 );

    --ui-sort-padding       : var( --space-6 ) var( --space-8 );
    --ui-sort-margin        : var( --space-8 ) auto;


/*	-------------------- -------------------- -------------------- SPACE : relative margin and padding */
    /* Exmple : margin : var(--sp4); // = --sp-unit x 'value' = space
            '--sp4' = 15px * 0.5 = 7.5px'
    */

    --space-unit : 16px;

    --space-no   : 0;
    --space-1  : calc(var(--space-unit) * 0.125);
    --space-2  : calc(var(--space-unit) * 0.25);
    --space-3  : calc(var(--space-unit) * 0.375);
    --space-4  : calc(var(--space-unit) * 0.5);
    --space-5  : calc(var(--space-unit) * 0.75);
    --space-6  : calc(var(--space-unit) * 1.25);
    --space-7  : calc(var(--space-unit) * 2);
    --space-8  : calc(var(--space-unit) * 3.25);


/*	-------------------- -------------------- -------------------- TEXT typography scalable */
    /* Example :
            'ui-size-1' = 16px / 1.6 = 10px
            'ui-size-2' = 10px x 'ui-size-scale-ratio' = 16px
            'ui-size-3' = 16px x 'ui-size-scale-ratio' = 25,6px
    */
    --size-scale-ratio	: 1.6;

    --size-1       : calc((1em / var(--size-scale-ratio)) );
    --size-2       : calc(var(--size-1) * var(--size-scale-ratio));
    --size-3       : calc(var(--size-2) * var(--size-scale-ratio));
    --size-4       : calc(var(--size-3) * var(--size-scale-ratio));
    --size-5       : calc(var(--size-4) * var(--size-scale-ratio));
    --size-6       : calc(var(--size-5) * var(--size-scale-ratio));
    --size-7       : calc(var(--size-6) * var(--size-scale-ratio));
    --size-8       : calc(var(--size-7) * var(--size-scale-ratio));


/*	-------------------- -------------------- -------------------- TABLE */

    --ui-table-background   : var(  --ui-color8  );

    --ui-table-thead        : transparent;
    --ui-table-tbody        : transparent;
    --ui-table-tfoot        : transparent;

    --ui-table-even         : var(  --ui-color6  );
    --ui-table-odd          : var(  --ui-color7  );

    --ui-table-hover        : var(  --ui-color5  );
    --ui-table-hover-text   : var(  --ui-color2  );

    --ui-table-padding      : var(  --space-6  );


/*	-------------------- -------------------- -------------------- TABS */

    --ui-tab-background      : var(  --ui-color7  );
    --ui-tab-background-hover: var(  --ui-color6  );

    --ui-tab-shadow         : var(  --ui-shadow-2 );
    --ui-tab-shadow-hover   : var(  --ui-shadow-6 );
    --ui-tab-tbody          : transparent;
    --ui-tab-tfoot          : transparent;

    --ui-tab-even           : var(  --ui-color7  );
    --ui-tab-odd            : var(  --ui-color6  );

    --ui-tab-hover          : var(  --ui-color1  );
    --ui-tab-hover-text     : var(  --ui-color7  );

    --ui-tab-padding        : var(  --space-5  );


    /*	-------------------- -------------------- -------------------- @UTILS LEGACY */

    --ui-adminnavi          : rgba(74, 74, 74, 0.8);
    --ui-adminmenu          : rgba(74, 74, 74, 0.8);
    --ui-breadcrumbs        : rgba(74, 74, 74, 0.8);
    /*--ui-breadcrumbs-bg     : var(  --ui-color5  );*/

    /*	-------------------- -------------------- -------------------- Nav Menu */

    --ui-nav-hover          : rgba(255, 255, 255, .2);
    --ui-nav-open           : rgba(0, 0, 0, 0.05);
    --ui-nav-admin-bg       : rgba(15, 15, 15, 0.75);
    --ui-nav-link-color     : orange;
    --ui-nav-link-border    : 3px solid orange;
}


