/*
    XOOPSCube Theme : XCL Admin Flex Grid
    Distribution : XCL 2.3 Alpha
    Version : 0.7.0
    Author : Nuno Luciano aka Gigamaster
    Date : 2020-06-11
    URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- --------------------  Table */

/* TODO
Clean up D3 templates
Responsive tables and tabs
Alternative data display
*/

:where(table, table.outer, table:not([class^="cke_"])) {

    background      : var(  --ui-table-background   );
    border-color    : var(  --border-color       );
    border-radius   : var(  --border-radius      );
    border-style    : var(  --border-radius      );
    border-width    : var(  --border-width       );
    border-collapse : collapse;
    box-shadow    	: var(  --shadow-2         );
    padding       	: var(  --space-4          );
    margin        	: 0;
    width           : 100%;
}
:is(table[class^="cke_"]) * {
    box-shadow    	: none;
}

:where(table:not([class^="cke_"])) thead tr {
    background      : var( --ui-table-thead );
}

:where(table:not([class^="cke_"])) tbody tr {
    background      : var(--ui-table-tbody);
}

:where(table:not([class^="cke_"])) tfoot tr {
    background      : var(--ui-table-tfoot);
    text-align      : center;
}
/* Apply button to table prefix start with lis_control */
:where(td[class^="list_control"]) input[type="file"] {
    display: none;
}
:where(td[class^="list_control"]) input[type="file"] + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

:where(td[class^="list_control"]) input[type="file"]:focus + label,
:where(td[class^="list_control"]) input[type="file"] + label:hover {
    background-color: red;
}
:where(td[class^="list_control"]) a {
    background: var( --ui-button-bg );
    border: none;
    border-radius: var( --border-radius );
    box-shadow: var( --ui-button-box-shadow );
    color: var( --color-1 );
    display: inline-block;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1em;
    margin: 0 .25rem; /*var( --ui-button-margin );*/
    /*padding: var( --space-4 ) var( --space-6 );*/
    padding: var( --space-3 ) var( --space-4 ); /*.125rem .5rem; */
    position: relative;
    text-align: center;
    /* text-transform: uppercase; */
    transition: all ease-in-out 0.2s;
    vertical-align: baseline;
    white-space: nowrap;
}

tr, th, td {
    padding         : var( --ui-table-padding );
    font-weight     : 300;
    border: 1px solid var(--color-6);
}
tr {
    /*border-bottom: 1px solid var(--color-6);*/
}
td.head{
    vertical-align: top;
}
/* Alternate cycle TR class even | odd */
:where(table.outer) tbody tr:nth-child(even) {
    background      : var( --ui-table-even );
}
/* table:not([class^="cke_"]) */
:where(table.outer) tbody tr:nth-child(odd) {
    background      : var( --ui-table-odd );
}


div.foot,
.pagenavi,
table td.foot,
.list_id,
.list_order,
.list_date,
.list_select,
.list_control {

    text-align      : center;

}

table.altsys_mytplsadmin .dbtplset_active {

    background      : var(  --color-green        );

}

table.altsys_mytplsadmin .dbtplset_active sup {

    /*display       : none;*/

}

table.altsys_mytplsadmin .fingerprint1 {

    background      : var(  --color-green        );

}

table.altsys_mytplsadmin .fingerprint2 {

    background      : var(  --color-green        );

}

table.altsys_mytplsadmin .fingerprint3 {

    background      : var(  --color-amber        );

}

table.altsys_mytplsadmin .fingerprint4 {

    background      : var(  --color-blue         );

}

table.altsys_mytplsadmin .fingerprint5 {

    background      : var(  --color-orange       );

}

table.altsys_mytplsadmin .fingerprint6 {

    background      : var(  --color-indigo       );

}

table.altsys_mytplsadmin .fingerprint7 {

    background      : var(  --color-indigo       );
}


div > input.blockposition {

    display         : flex;
    margin-right    : 5px;

}

/*table:not([class^="cke"]) * table * table,*/
table.outer .altsys_mytplsadmin tbody tr:hover,
table.outer tbody tr:hover,
.table-striped tbody tr:hover {
    background      : var(  --ui-table-hover        );
    color           : var(  --ui-table-hover-text   );
}
/* 	div.unselected {

    background      : #37474f;

} */

/* 	div.selected {

    background      : var(--color-green);

} */

div.disabled {

    background      : var(  --color-red          );

}
