<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>
<{assign var="bt" value=$smarty.template scope=parent}>
<div class="block-user-menu">

<ul id="user-menu">
    <{if $block.flagShowInbox}>
        <li class="user-menu-email">
            <a class="highlight" href="<{$block.inbox_url}>">
                <img class="svg mail" src="<{$xoops_url}>/images/icons/mail.svg" width="1em" height="1em" alt="<{$smarty.const._MB_LEGACY_INBOX}>"> <{$smarty.const._MB_LEGACY_INBOX}>
                <{if $block.new_messages > 0}><span class="badge new-messages"><{$block.new_messages}></span><{/if}></a></li>
    <{/if}>
    <li class="user-menu-comments">
        <a href="<{$xoops_url}>/notifications.php">
            <img class="svg bell" src="<{$xoops_url}>/images/icons/bell.svg" width="1em" height="1em" alt="<{$smarty.const._MB_LEGACY_NOTIF}>"> <{$smarty.const._MB_LEGACY_NOTIF}></a></li>
    <li class="user-menu-top">
        <a class="menuTop" href="<{$xoops_url}>/user.php"><img class="svg inbox" src="<{$xoops_url}>/images/icons/user-details.svg"> <{$smarty.const._MB_LEGACY_VACNT}></a></li>
    <li class="user-menu-edit">
        <a href="<{$xoops_url}>/edituser.php"><img class="svg inbox" src="<{$xoops_url}>/images/icons/user-edit.svg"> <{$smarty.const._MB_LEGACY_EACNT}></a></li>
    <{if $block.show_adminlink}>
        <li class="user-menu-admin">
            <a href="<{$xoops_url}>/admin.php"><img class="svg inbox" src="<{$xoops_url}>/images/icons/settings.svg"> <{$smarty.const._MB_LEGACY_ADMENU}></a></li>
    <{/if}>
    <li class="user-menu-logout">
        <a href="<{$xoops_url}>/user.php?op=logout"><img class="svg inbox" src="<{$xoops_url}>/images/icons/logout.svg"> <{$smarty.const._MB_LEGACY_LOUT}></a></li>
</ul>

</div>
