<div class="ui-dev-mode"><{$smarty.template}></div>




<div class="adminnavi">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
    &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=MailjobList"><{$smarty.const._AD_USER_LANG_MAILJOB_LIST}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._AD_USER_LANG_MAILJOB_LIST}></h2>


<div layout="row center-justify" class="control-action">

    <a class="ui-btn ui-btn-small" href="index.php?action=UserSearch"><{$smarty.const._AD_USER_LANG_CREATE_NEW}></a>

    <div class="control-view">
        <{* <button id="list" class="ui-btn" data-id="1" type="button" title="View List">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/></svg>
        </button>

        <button id="grid" class="ui-btn" data-id="2" type="button" title="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z" fill="currentColor"/></svg>
        </button>

        <button id="filter" class="ui-btn" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"  title="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/></svg>
        </button> *}>

        <button class="help-admin ui-btn" type='button' data-id='4' data-module='legacy' data-help-article='#help-version' title="Help">
            <span class="ui-icon ui-icon-help"></span>
        </button>
    </div>

</div>


<table class="outer">
    <thead>
    <tr>
        <th><{$smarty.const._AD_USER_LANG_MAILJOB_ID}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_SORT_KEY_MAILJOB_ID}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_SORT_KEY_MAILJOB_ID}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_USER_LANG_TITLE}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_SORT_KEY_TITLE}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_SORT_KEY_TITLE}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_USER_LANG_IS_PM}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_SORT_KEY_IS_PM}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_SORT_KEY_IS_PM}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_USER_LANG_IS_MAIL}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_SORT_KEY_IS_MAIL}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_SORT_KEY_IS_MAIL}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_USER_LANG_CREATE_UNIXTIME}>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_SORT_KEY_CREATE_UNIXTIME}>">
                <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>">
            </a>
            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_SORT_KEY_CREATE_UNIXTIME}>">
                <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>">
            </a>
        </th>
        <th><{$smarty.const._AD_USER_LANG_LEFT_TARGET_USER}></th>
        <th><{$smarty.const._AD_USER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <tr class="<{cycle values='odd,even'}>">
        <td class="user_list_id"><{$obj->getShow('mailjob_id')}></td>
        <td class="user_list_title">
            <{if $obj->getUserCount() > 0}>
            <a href="./index.php?action=MailjobSend&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>"><{$obj->getShow('title')}></a>
            <{else}>
            <a href="./index.php?action=MailjobView&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>"><{$obj->getShow('title')}></a>
            <{/if}>
        </td>
        <td class="user_list_order">
            <{if $obj->getShow('is_pm') == 1}>
            <{$smarty.const._YES}>
            <{else}>
            <{$smarty.const._NO}>
            <{/if}>
        </td>
        <td class="user_list_order">
            <{if $obj->getShow('is_mail') == 1}>
            <{$smarty.const._YES}>
            <{else}>
            <{$smarty.const._NO}>
            <{/if}>
        </td>
        <td class="user_list_date"><{$obj->get('create_unixtime')|date_format:"%Y/%m/%d %H:%M"}></td>
        <td class="user_list_number">
            <{if $obj->getUserCount() > 0}>
            <span class="user_mailjob_count"><{$obj->mUserCount|xoops_escape}></span>
            <{else}>
            <{$smarty.const._AD_USER_LANG_COMPLETED}>
            <{/if}>
        </td>
        <td class="user_list_control">
            <{if $obj->getUserCount() > 0}>
            <a href="./index.php?action=Mailjob_linkList&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>">
                <img src="<{"icons/members.png"|theme}>" alt="<{$smarty.const._VIEW}>" title="<{$smarty.const._VIEW}>"></a>
            <a href="./index.php?action=MailjobSend&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>">
                <img src="<{"icons/send.png"|theme}>" alt="<{$smarty.const._SEND}>" title="<{$smarty.const._SEND}>"></a>
            <a href="./index.php?action=MailjobEdit&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>">
                <img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>"></a>
            <{/if}>
            <a href="./index.php?action=MailjobView&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>">
                <img src="<{"icons/view.png"|theme}>" alt="<{$smarty.const._VIEW}>" title="<{$smarty.const._VIEW}>"></a>
            <a href="./index.php?action=MailjobDelete&amp;mailjob_id=<{$obj->getShow('mailjob_id')}>">
                <img src="<{"icons/delete.png"|theme}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>"></a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
